<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="info.eric.joketeller">

  <application>
    <activity
        android:name=".JokeTellerActivity"
        android:label="@string/title_activity_joke_teller"
        android:theme="@style/AppTheme.NoActionBar">
    </activity>
  </application>

</manifest>